<div class="container">
  <form #myForm="ngForm" class="add-product" action="">
    <div class="add-product__images slider">
      <div class="add-product__image-actions">
        <div class="add-product__image-action">
          <a href="#"><i class="fas fa-plus-square"></i></a>
          <a href="#"><i class="fas fa-edit"></i></a>
          <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
      </div>
      <div class="slider__items">
        <div
          class="slider__item active"
          style="background-image: url(img/products/product-grey-7.jpg)"
        ></div>
        <div
          class="slider__item"
          
          style="background-image: url(img/products/product-grey-7.jpg)"
        ></div>
        <div
          class="slider__item"
          style="background-image: url(img/products/product-grey-7.jpg)"
        ></div>
      </div>
      <div class="slider__indicators">
        <span class="slider__indicator active"></span>
        <span class="slider__indicator"></span>
        <span class="slider__indicator"></span>
      </div>
    </div>
    <div class="add-product__data">
      <div class="form-controls">
        <section class="tabs">
          <div class="tabs__headers">
            <div class="tabs__header active">English</div>
            <div class="tabs__header">Arabic</div>
          </div>
          <div class="tabs__bodies">
            <div class="tabs__body active">
              <div class="form-group " [ngClass]="{'invalid':textName.invalid && textName.touched}">
                <label for="">Name</label>
                <input
                #textName="ngModel"
                required
                  [(ngModel)]="product.data[0].name"
                  class="form-control"
                  type="text"
                  name="textName"
                  id=""
                />
              </div>
              <div class="form-group" [ngClass]="{'invalid':txtDesc.invalid && txtDesc.touched}">
                <label for="">Description</label>
                <textarea
                #txtDesc="ngModel"
                required
                [(ngModel)]="product.data[0].description"
                  class="form-control"
                  name="txtDesc"
                  id=""
                  cols="30"
                  rows="4"
                ></textarea>
              </div>
            </div>
            <!-- <div class="tabs__body">
              <div class="form-group invalid">
                <label for="">Name</label>
                <input class="form-control" type="text" name="" id="" />
              </div>
              <div class="form-group">
                <label for="">Description</label>
                <textarea
                  class="form-control"
                  name=""
                  id=""
                  cols="30"
                  rows="4"
                ></textarea>
              </div>
            </div> -->
          </div>
        </section>

        <div class="form-group" [ngClass]="{'invalid':price.invalid && price.touched }">
          <label for="">Price</label>
          <input #price="ngModel" required [(ngModel)]="product.price" class="form-control" type="number" name="price" id="" />
        </div>
        <div class="add-product__discount">
          <div class="form-group">
            <label for="">Status</label>
            <div class="form-group__radios">
              <div class="form-group__radio">
                <input
                  ngModel
                  type="radio"
                  value="On Sale"
                  name="radioButton"
                  id=""
                /><span>On Sale</span>
              </div>
              <div class="form-group__radio">
                <input
                required
                  ngModel
                  type="radio"
                  value="Not On Sale"
                  name="radioButton"
                  id=""
                /><span>Not On Sale</span>
              </div>
            </div>
          </div>
          <div class="form-group" >
            <label for="">Discount</label>
            <input
            
            [(ngModel)]="product.discount"
              class="form-control"
              type="number"
              name="discount"
              id=""
            />
          </div>
        </div>
        <div class="form-group">
          <label for="">Payment Types</label>
          <div class="form-group__checkboxs">
            <div
              *ngFor="let payment of paymentTypes; let i = index"
              class="form-group__checkbox"
            >
              <input
              required
                ngModel
                type="checkbox"
                (click)="onCheckBoxPressed(i)"
                [value]="payment.id"
                [name]="'check_' + i"
                id=""
              /><span>{{ payment.name }}</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Category</label>
          <select [(ngModel)]="product.categoryId" class="form-control" name="dropDownList" id="">
            <option *ngFor="let cat of ProductCategory" [value]="cat.id">{{cat.name}}</option>
            
          </select>
        </div>

        <div class="taged-textbox form-group">
          <label class="taged-textbox__lable" for="">Tags</label>
          <div class="taged-textbox__data">
            <div class="taged-textbox__tags">
              <div *ngFor="let tag of product.tags;let i=index" class="taged-textbox__tag">
                <span>{{tag.name}}</span>
                <a (click) ="deleteTag(tag.id)" class="taged-textbox__remove"><i  class="fas fa-times"></i></a>
              </div>
            </div>
            <div class="taged-textbox__clear">
              <a><i class="fas fa-times"></i></a>
            </div>
          </div>
          <input
          #txtTag (keyup.enter)="onTagAdded(txtTag)"
            class="taged-textbox__textbox form-control"
            type="text"
            name=""
            id=""
          />
        </div>
        <div class="add-product__actions">
          <button href="#" class="btn btn--gray">Cancel</button>
          <button (click)="onSubmit(myForm)" href="#"  class="btn btn--primary">
           {{editMode?'Update':'Add'}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
