
    <div *ngIf="product.discount" class="item-medium-1__alert">Sale</div>
    <div class="item-medium-1__image image" [style.backgroundImage]="'url('+product.imagesUrls[0]+')'">
        <a (click)="addedToCart()" href="#" class="item-medium-1__action ">Add to Cart</a>
    </div>
    <a href="#">
        <h4>{{product.data[0].name}}</h4>
        <div class="flex-row">
            <div>
                <del *ngIf="product.discount">{{product.price|currency}}</del>
                <span class="lable">{{getPrice()|currency}}</span>
            </div>
        </div>
    </a>
    <div class="crud-actions">
        <a [routerLink]="['/product','details',product._id]"><i class="far fa-eye"></i></a>
        <a [routerLink]="['/product','edit',product._id]"><i class="fas fa-edit mx-2"></i></a>
        <a href="#"><i class="fas fa-trash-alt"></i></a>
    </div>

